<!-- <%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :points %>
    <%= f.number_field :points %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> -->

<%= simple_form_for @project do |f| %>
  <%= f.input :title, label: "Project Title" %>
  <%= f.input :description %>
  <%= f.input :points %>
  <%= f.button :submit %>
<% end %>
