<%= simple_form_for @project do |f| %>
  <%= f.input :title, label: "Project Title" %>
  <%= f.input :description %>
  <%= f.input :image, as: :file %>
  <%= f.association :tags %>
  <p> Hold control to add multiple tags </p>
  <%= f.button :submit %>
<% end %>
