<div id="container" class="clearfix">

  <div id="sideContainer">
    <div class="row content">
      <center>
        <p><h2>Current Projects</h2>
          <% @current_projects.each do |project| %>
            <h4><%= project.title %></h4><br>
            <%= image_tag "frogger.png" %>
            <h6><i>6 members</i></h6><br>
          <% end %>
        </div>
      </center>
    </div>


    <!--=============================== Left Container ===============================  -->
    <div id="sideContainerLeft">
      <center><h1>Active Projects</h1></center>
      <p>
        <div class="dashboard-container">
          <table class="table">
            <thead>
              <tr>
                <th>Project Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% @projects.each do |project| %>
                <tr>
                  <td>
                    <h3><%= project.title %></h3>
                    <%= image_tag "frogger.png" %>
                  </td>

                  <td>
                    <%= project.description %>
                    <br><br>
                    <p align="right">Last Updated : <i> October 24, 2016</i></p>

                    <hr>
                    <% project.tags.each do |tag| %>
                      <a href="<%= tag_path(tag) %>" class="btn btn-primary"><%= tag.name %></a>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
