<!-- <p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.points %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
 -->


<% @projects.each do |project| %>
  <br />
  <h2> <%= project.title %> </h2>
  <p> <%= project.description %> </p>
  <p> <%= project.points %> </p>
  <%= link_to "View Project", project_path(project), class: "btn btn-default" %>
  <br />
<% end %>
<br />
<br />
<%= link_to "New Project", new_project_path %>
