<div id="container" class="clearfix">


  <div id="sideContainer">
    <div class="row">
        <h4 class="text-center">Filters</h4>
        <% Tag.all.each do |tag| %>
          <%= link_to tag.name, tag_path(tag), class: "btn btn-primary marg-top-5" %>
        <% end %>
    </div>
  </div>




  <div id="sideContainerLeft">
    <center><h1>Projects</h1></center>
    <%= link_to "Create Project", new_project_path, class: 'btn btn-primary pull-right' %>
    <p>
      <div class="dashboard-container">
        <table class="table">
          <thead>
            <tr>
              <th>Project Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
            <tr>
              <td>
                <h3><%= link_to project.title, project_path(project) %></h3>
                <%= image_tag project.image.url %>
              </td>

              <td>
                <%= project.description %>
                <br><br>
                <p align="right"><i> <%= project.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("Last Updated : %B %d %I:%M %p") %> </i></p>

                <hr>
                <% project.tags.each do |tag| %>
                  <a href="<%= tag_path(tag) %>" class="btn btn-primary"><%= tag.name %></a>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
