<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Points:</strong>
  <%= @project.points %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @owner.email %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


<h2><%= @project.title %></h2>
<p><%= @project.description %></p>

<% @project.tags.each do |tag| %>
  <h3><%= tag.name %></h3>
<% end %>
